@import "~@fortawesome/fontawesome-free/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white bg-black;
    min-height: 100vh;
    margin: 0;
  }
}

.hover-scale:hover {
  transition: transform 0.3s ease-in-out;
}
/* Add this CSS to handle the smooth transitions */
.movie-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.movie-card img {
  transition: transform 0.3s ease-in-out;
}

.movie-card:hover img {
  transform: scale(1.05);
}

.movie-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.movie-card:hover .overlay {
  opacity: 1;
  visibility: visible;
}

/* Add the button styling */
.overlay button {
  margin: 10px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.overlay button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.lds-ring {
  /* change color here */
  color: #1c4c5b;
}
.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}
.scroll-container {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.card-wrapper {
  display: flex;
  flex-shrink: 0;
  gap: 1rem;
  width: 25%;
}
